<!DOCTYPE html>
<html>
<head>
  <title>Elliott Vercoe - Projects, Portfolio and Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type = "text/css" href="mystyle.css">
</head>
<body>

<div class="sidenav">
  <a href="index.html">About Me</a>
  <a href="professional.html">Professional Experience</a>
  <a href="projects.html">Projects</a>
  <a href="personal.html">Personal</a>
  <a href="contact.html">Contact</a>
</div>

<div class="main">
  <h1>Projects</h1>
  <p>To be completed...</p>
<div class="sidenav">
  <a href="{% url 'index' %}">About Me</a>
  <a href="{% url 'professional' %}">Professional Experience</a>
  <a href="{% url 'projects' %}">Projects</a>
  <a href="{% url 'personal' %}">Personal</a>
  <a href="{% url 'contact' %}">Contact</a>
</div>
</div>

</body>
</html>
